#ignore database
*.db*
*.pkl

#ignore env variables
*.env

#ignore dev folders
**ocr-ml
*.vscode
**/__pycache__

#ignore data folders
**data_cache
**pickled_price_data/

# Ignore certain dev extensions
*.csv
*.xls*
*.h5
*.profile

# Ignore development python files
*dev_*.py